﻿@import "../Bundles/bootstrap/css/bootstrap.less";
.block-middle {
   text-decoration: none;
   &:after{
	    content: ".";	
	    visibility: hidden;
	    display:inline-block;
	    vertical-align:middle;
	    height:100%;
	    width:0;
     }
   & > *:first-child {
       display:inline-block;
	   vertical-align:middle;
	   text-align: left;
   }
}
.btn-circle {
  font-size: 24px;
  font-weight: 300;
  border-radius: 24px;
  width: 48px;
}
.container-wrap-1 {
    .container-fluid;
    background-image: url(Images/1930x1400_bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .container {
        background: -moz-linear-gradient(100.56% 50% 180deg,rgba(255, 255, 255, 0.7) 0%,rgba(255, 255, 255, 0.64) 7.24%,rgba(255, 255, 255, 0.3) 49.51%,rgba(255, 255, 255, 0.64) 92.61%,rgba(255, 255, 255, 0.7) 100%);
        background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.64) 7.24%, rgba(255, 255, 255, 0.3) 49.51%, rgba(255, 255, 255, 0.64) 92.61%, rgba(255, 255, 255, 0.7) 100%);
        background: -webkit-gradient(linear,100.56% 50%,0.37% 50%,color-stop(0,rgba(255, 255, 255, 0.7) ),color-stop(0.0724,rgba(255, 255, 255, 0.64) ),color-stop(0.4951,rgba(255, 255, 255, 0.3) ),color-stop(0.9261,rgba(255, 255, 255, 0.64) ),color-stop(1,rgba(255, 255, 255, 0.7) ));
        background: -o-linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.64) 7.24%, rgba(255, 255, 255, 0.3) 49.51%, rgba(255, 255, 255, 0.64) 92.61%, rgba(255, 255, 255, 0.7) 100%);
        background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.64) 7.24%, rgba(255, 255, 255, 0.3) 49.51%, rgba(255, 255, 255, 0.64) 92.61%, rgba(255, 255, 255, 0.7) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
        background: linear-gradient(-90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.64) 7.24%, rgba(255, 255, 255, 0.3) 49.51%, rgba(255, 255, 255, 0.64) 92.61%, rgba(255, 255, 255, 0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF', GradientType=1);
    }

    .container-inner {
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    }

    img {
        height: 694px;

        @media (max-width: @screen-md-max) {
            height: 480px;
        }

        @media (max-width: @screen-xs-max) {
            height: 620px;
        }
    }

    .smart-image {
        text-align: center;
        margin-top: 123px;
        margin-bottom: 43px;

        @media (max-width: @screen-md-max) {
            margin-top: 115px; margin-bottom: 35px;
        }

        @media (max-width: @screen-xs-max) {
            margin-top: 155px; margin-bottom: 75px;
        }
    }

    .smart-info {
        height: 220px;
        background-color: #fff;
        text-align: center;

        @media (max-width: @screen-xs-max) {
            height: 350px; text-align: left; padding: 15px 60px 0 70px;
        }
    }

    hgroup {
        padding-top: 10px;
    }

    h1, h4 {
        display: inline-block;

        @media (max-width: @screen-xs-max) {
            display: block;
        }
    }

    h1 {
        letter-spacing: -10px;
    }

    h4 {
        margin-right: 6px;
    }

    p {
        width: 444px;
        display: inline-block;

        @media (max-width: @screen-xs-max) {
            display: block; width: auto;
        }
    }
}
.container-wrap-2 {
    .container-fluid;
    background-color: #000;
    background-image: url(Images/Preview/1930x1080_.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    @media (max-width: @screen-md-max) {
        background-image: url(Images/Preview/1199x850_.jpg);
    }
    @media (max-width: @screen-sm-max) {
        background-image: url(Images/Preview/991x850_.jpg);
    }
    @media (max-width: @screen-xs-max) {
        background-image: url(Images/Preview/768x850_.jpg);
    }

    .container {
        background: -moz-linear-gradient(50% 1.48% -90deg,rgba(0, 0, 0, 0.2) 13.51%,rgba(0, 0, 0, 0) 29.15%,rgba(0, 0, 0, 0) 68.98%,rgba(0, 0, 0, 0.07) 72.38%,rgba(0, 0, 0, 0.5) 92.43%,rgba(0, 0, 0, 0.8) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 13.51%, rgba(0, 0, 0, 0) 29.15%, rgba(0, 0, 0, 0) 68.98%, rgba(0, 0, 0, 0.07) 72.38%, rgba(0, 0, 0, 0.5) 92.43%, rgba(0, 0, 0, 0.8) 100%);
        background: -webkit-gradient(linear,50% 1.48%,50% 100.77%,color-stop(0.1351,rgba(0, 0, 0, 0.2) ),color-stop(0.2915,rgba(0, 0, 0, 0) ),color-stop(0.6898,rgba(0, 0, 0, 0) ),color-stop(0.7238,rgba(0, 0, 0, 0.07) ),color-stop(0.9243,rgba(0, 0, 0, 0.5) ),color-stop(1,rgba(0, 0, 0, 0.8) ));
        background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 13.51%, rgba(0, 0, 0, 0) 29.15%, rgba(0, 0, 0, 0) 68.98%, rgba(0, 0, 0, 0.07) 72.38%, rgba(0, 0, 0, 0.5) 92.43%, rgba(0, 0, 0, 0.8) 100%);
        background: -ms-linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 13.51%, rgba(0, 0, 0, 0) 29.15%, rgba(0, 0, 0, 0) 68.98%, rgba(0, 0, 0, 0.07) 72.38%, rgba(0, 0, 0, 0.5) 92.43%, rgba(0, 0, 0, 0.8) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000' ,GradientType=0)";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 13.51%, rgba(0, 0, 0, 0) 29.15%, rgba(0, 0, 0, 0) 68.98%, rgba(0, 0, 0, 0.07) 72.38%, rgba(0, 0, 0, 0.5) 92.43%, rgba(0, 0, 0, 0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000', GradientType=0);
        

        @media (max-width: @screen-xs-max) {
            background : -moz-linear-gradient(81.43% 101.41% 107.94deg,rgba(0, 0, 0, 0.2) 10.92%,rgba(0, 0, 0, 0) 24.39%,rgba(0, 0, 0, 0) 57.37%,rgba(0, 0, 0, 0.5) 97.69%,rgba(0, 0, 0, 0.8) 100%);
            background : -webkit-linear-gradient(107.94deg, rgba(0, 0, 0, 0.2) 10.92%, rgba(0, 0, 0, 0) 24.39%, rgba(0, 0, 0, 0) 57.37%, rgba(0, 0, 0, 0.5) 97.69%, rgba(0, 0, 0, 0.8) 100%);
            background : -webkit-gradient(linear,81.43% 101.41% ,21.88% 4% ,color-stop(0.1092,rgba(0, 0, 0, 0.2) ),color-stop(0.2439,rgba(0, 0, 0, 0) ),color-stop(0.5737,rgba(0, 0, 0, 0) ),color-stop(0.9769,rgba(0, 0, 0, 0.5) ),color-stop(1,rgba(0, 0, 0, 0.8) ));
            background : -o-linear-gradient(107.94deg, rgba(0, 0, 0, 0.2) 10.92%, rgba(0, 0, 0, 0) 24.39%, rgba(0, 0, 0, 0) 57.37%, rgba(0, 0, 0, 0.5) 97.69%, rgba(0, 0, 0, 0.8) 100%);
            background : -ms-linear-gradient(107.94deg, rgba(0, 0, 0, 0.2) 10.92%, rgba(0, 0, 0, 0) 24.39%, rgba(0, 0, 0, 0) 57.37%, rgba(0, 0, 0, 0.5) 97.69%, rgba(0, 0, 0, 0.8) 100%);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000' ,GradientType=0)";
            background : linear-gradient(-17.94deg, rgba(0, 0, 0, 0.2) 10.92%, rgba(0, 0, 0, 0) 24.39%, rgba(0, 0, 0, 0) 57.37%, rgba(0, 0, 0, 0.5) 97.69%, rgba(0, 0, 0, 0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000' , GradientType=1);
        }
    } 

    .container-inner {
       box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    }


    .col-lg-3, .col-lg-7 {
        margin-top: 860px;
        margin-bottom: 44px;
        height: 176px;
        @media (max-width: @screen-md-max) {
            margin-top: 630px;
        }
    }

    .col-lg-7 {
         @media (max-width: @screen-xs-max) {
            margin-top: 100px;
            margin-bottom: 0;
        }
    }
    .col-lg-3 {
         @media (max-width: @screen-xs-max) {
            margin-top: 402px;
            height: 128px; 
        }
    }

    .col-lg-3 {
        background: @yellow;
    }

    .col-lg-7 {
        padding-left: 40px;

        @media (max-width: @screen-xs-max) {
            padding-left: 0;
        }
    }

    hgroup {
        text-align: center;
    }

    h6 {
        .text-lg-3;
        letter-spacing : -0.7px;
        font-weight: 500;
        padding-top: 20px;
        @media (max-width: @screen-sm-max) {
            font-size: 19px;
            line-height : 28.66px;
            letter-spacing : -0.6px;
            padding-top: 40px;
            margin-left: -3px;
        }
        @media (max-width: @screen-xs-max) {
            padding-top: 20px;
        }
    }

    h1 {
        font-size: 106px;
        font-weight: 800;
        line-height: 77px;
        @media (max-width: @screen-sm-max) {
            font-size : 71px;
            line-height : 20.38px;
            padding-top: 17px;
        }
    }

    p {
        color: #fff;
        .text-lg-3;
        font-weight: 300;

        @media (max-width: @screen-md-max) {
            .text-lg-2;
        }
        @media (max-width: @screen-sm-max) {
            margin-right: -20px;
        }
        @media (max-width: @screen-xs-max) {
            margin-right: 0;
        }
    }
}
.container-wrap-3 {
    .container-fluid;
    background-image: url(Images/1930x1400_bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .container {
        background: #D5D3D3;
        background: rgba(213, 211, 211, 1);
        box-shadow: 0px 0px 3px rgba(35, 31, 32, 0.5);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#231F20');
    }

    .row {
        padding-top: 215px;
        padding-bottom: 136px;

        @media (max-width: @screen-md-max) {
            padding-top: 162px; padding-bottom: 83px;
        }

        @media (max-width: @screen-sm-max) {
            padding-top: 136px; padding-bottom: 110px;
        }

        @media (max-width: @screen-xs-max) {
            padding-top: 138px; padding-bottom: 120px;
        }

        background: -moz-linear-gradient(-1.39% 50% 0deg,rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0.3) 53.33%,rgba(255, 255, 255, 0) 78.79%,rgba(255, 255, 255, 0.6) 100%);
        background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 53.33%, rgba(255, 255, 255, 0) 78.79%, rgba(255, 255, 255, 0.6) 100%);
        background: -webkit-gradient(linear,-1.39% 50%,90.96% 50%,color-stop(0,rgba(255, 255, 255, 0.8) ),color-stop(0.5333,rgba(255, 255, 255, 0.3) ),color-stop(0.7879,rgba(255, 255, 255, 0) ),color-stop(1,rgba(255, 255, 255, 0.6) ));
        background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 53.33%, rgba(255, 255, 255, 0) 78.79%, rgba(255, 255, 255, 0.6) 100%);
        background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 53.33%, rgba(255, 255, 255, 0) 78.79%, rgba(255, 255, 255, 0.6) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 53.33%, rgba(255, 255, 255, 0) 78.79%, rgba(255, 255, 255, 0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF', GradientType=1);
    }

    img {
        display: block;
        height: 729px;

        &:last-child {
            position: absolute;
            top: 0;
            left: 112px;
        }

        @media (max-width: @screen-md-max) {
            height: 605px; &:first-child {
                display: none;
            }

            &:last-child {
                position: relative;
                left: 0;
            }
        }

        @media (max-width: @screen-sm-max) {
            height: 416px; &:first-child {
                display: block;
            }

            &:last-child {
                position: absolute;
                left: 35px;
                top: 190px;
            }
        }

        @media (max-width: @screen-xs-max) {
            &:last-child {
                left: 160px;
                top: 50px;
            }
        }
    }

    .smart-features {
        @media (max-width: @screen-xs-max) {
            padding-top: 122px;
        }
    }

    .smart-feature {
        padding-left: 70px;
        padding-bottom: 38px;

        @media (max-width: @screen-sm-max) {
            padding-left: 37px; 
            padding-bottom: 40px;
        }

        @media (max-width: @screen-xs-max) {
            padding-left: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        p {
            .text-lg-2;
            margin-left: 71px;
            font-weight: 300;

            @media (max-width: @screen-sm-max) {
                margin-left: 0;
            }

            @media (max-width: @screen-xs-max) {
                margin-left: 58px; font-size: 22px;
            }
        }
    }

    .smart-feature-icon {
        width: 46px;
        height: 46px;
        float: left;
        margin-right: 25px;
        background-repeat: no-repeat;
        background-position: center top;

        &.arrow {
            background-image: url(Images/arrow.png);
        }

        &.camera {
            background-image: url(Images/camera.png);
        }

        &.battery {
            background-image: url(Images/battery.png);
            background-position: center 5px;    
        }

        &.chip {
            background-image: url(Images/chip.png);
        }

        &.twosim {
            background-image: url(Images/twosim.png);
        }

        @media (max-width: @screen-sm-max) {
            display: none;
        }

        @media (max-width: @screen-xs-max) {
            display: block; margin-right: 10px;
        }
    }

    .btn-holder {
        position: absolute;
        right: 0;
        bottom: -125px;

        @media (max-width: @screen-md-max) {
            bottom: -50px;
        }

        @media (max-width: @screen-sm-max) {
            bottom: -60px;
        }
        @media (max-width: @screen-sm-max) {
            bottom: -75px;
        }
    }
}
.container-wrap-4 {
    display: none;
    .container-fluid;
    background-image: url(Images/1930x1400_bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .container {
        background: #D5D3D3;
        background: rgba(213, 211, 211, 1);
        box-shadow: 0px 0px 3px rgba(35, 31, 32, 0.5);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#231F20');
    }

    .row {
        background: -moz-linear-gradient(-1.39% 50% 0deg,rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0.3) 53.33%,rgba(255, 255, 255, 0) 78.79%,rgba(255, 255, 255, 0.6) 100%);
        background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 53.33%, rgba(255, 255, 255, 0) 78.79%, rgba(255, 255, 255, 0.6) 100%);
        background: -webkit-gradient(linear,-1.39% 50%,90.96% 50%,color-stop(0,rgba(255, 255, 255, 0.8) ),color-stop(0.5333,rgba(255, 255, 255, 0.3) ),color-stop(0.7879,rgba(255, 255, 255, 0) ),color-stop(1,rgba(255, 255, 255, 0.6) ));
        background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 53.33%, rgba(255, 255, 255, 0) 78.79%, rgba(255, 255, 255, 0.6) 100%);
        background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 53.33%, rgba(255, 255, 255, 0) 78.79%, rgba(255, 255, 255, 0.6) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 53.33%, rgba(255, 255, 255, 0) 78.79%, rgba(255, 255, 255, 0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF', GradientType=1);
    }

    h5 {
        padding-top: 186px;
        padding-bottom: 43px;
    }

    .smart-feature {
        padding-bottom: 21px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    p {
        .text-lg-1;
        font-weight: 300;
        margin-bottom: 0;
    }

    .btn-holder {
        margin-top: -1px;
        margin-bottom: 145px;
        float: right;
    }

    @media (max-width: @screen-md-max) {
        h5 {
            display: none;
        }

        .smart-features {
            padding-top: 123px;
        }

        .btn-holder {
            margin-top: 9px;
            margin-bottom: 44px;
        }
    }

    @media (max-width: @screen-sm-max) {
        .col-sm-5:nth-child(2) {
            padding-left: 30px;
        }
        .btn-holder {
            margin-top: -13px;
            margin-bottom: 36px;
        }
    }
    @media (max-width: @screen-xs-max) {
        .col-xs-10:nth-child(2) .smart-features {
            padding-top: 21px;
        }
        .col-sm-5:last-child {
            padding-left: 0;
        }
        .btn-holder {
            margin-top: -44px;
            margin-bottom: 44px;
        }
    }
}
.container-wrap-5 {
    .container-fluid;
    background-image: url(Images/1930x1400_bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .container {
        background: #D1D3D4;
        background: rgba(209, 211, 212, 1);
        height: 1080px;
        overflow: hidden;
        position: relative;  
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    }

    .container-inner {
        background-color: #fff;
        position: absolute;
        padding-top: 95px;
        top: 0;
        bottom: 0;
        left: 0;
        right: -20px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .image-frame {
        cursor: pointer;
        &:hover {
            overflow: hidden;
        }
    }

    img {
        max-width: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: -webkit-transform 100ms ease-out;
        transition: transform 100ms ease-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    @media (max-width: @screen-md-max) {
        .container {
            height: 850px;
        }
    }

    @media (max-width: @screen-xs-max) {
        .container {
            height: 1200px;
        }
    }
}
.gallery-frame {   
    background: #fff;
    position: fixed;
    &, & table, & tr, & td {
        border: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
    }

    td {
        text-align: center;    
        vertical-align: middle; 
    }

    img {
        display:inline-block;
        max-width: 90%; 
        max-height: 90%;
    }

    .gallery-close {
        .text-lg-1;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 10010;
    }

    .gallery-next,
    .gallery-prev {
        display: block;
        position: absolute;
        z-index: 1009;
        height: 100%;
        top: 0;
    }

    .gallery-next {
        right: 0;
        width: 70%;
    }
    .gallery-prev {
        left: 0;
        width: 30%;
    }
}
.container-wrap-6 {
    .container-fluid;
    background-color: #000;
    background-image: url(Images/Service/1930x1080.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    //height: 1080px;
    .container {
        /*background: -moz-linear-gradient(270.58% 1071.86% 0deg,rgba(255, 255, 255, 0.85) 0%,rgba(255, 255, 255, 0.5) 51.52%,rgba(255, 255, 255, 0.85) 98.79%);
        background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.5) 51.52%, rgba(255, 255, 255, 0.85) 98.79%);
        background: -webkit-gradient(linear,270.58% 1071.86%,362.94% 1071.86%,color-stop(0,rgba(255, 255, 255, 0.85) ),color-stop(0.5152,rgba(255, 255, 255, 0.5) ),color-stop(0.9879,rgba(255, 255, 255, 0.85) ));
        background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.5) 51.52%, rgba(255, 255, 255, 0.85) 98.79%);
        background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.5) 51.52%, rgba(255, 255, 255, 0.85) 98.79%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.5) 51.52%, rgba(255, 255, 255, 0.85) 98.79%);
        fiter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF', GradientType=1);*/
    }    

    .container-inner {
       padding-top: 118px;
       box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
       background-image: url(Images/Service/Map/1170x1080.png);
    background-repeat: no-repeat;
    background-position: center top;
    }

    .service-map-image {
        text-align: center;
        margin-bottom: 30px;

        h5 {
            position: absolute;
            top: 30px;
            left: 125px;
        }

        div {
            display: inline-block;
            width: 780px;
            height: 461px;
            background-image: url(Images/Service/780x461.png);
            background-repeat: no-repeat;
            background-position: center top;
            visibility: hidden;
        }
    }

    .service-list {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        opacity: 0.9;
        filter: alpha(opacity=90) progid:DXImageTransform.Microsoft.Alpha(opacity=90);   
        box-shadow: 0px 0px 3px rgba(35, 31, 32, 0.5);

        .col-sm-4:nth-child(1) {
            padding-top: 53px;
        }

        .col-sm-4:nth-child(2) {
            padding-top: 31px;
        }

        .col-sm-4:nth-child(3) {
            padding-top: 76px;
        }

        .col-sm-4 {      
            height: 200px;
            text-align: center;
        }

        h6 {
            font-weight: 300;
            width: 292px;
            display: inline-block;
            line-height: 45px;
        }
    }

    .service-previews {
        //padding: 15px 0 50px;

        .col-sm-4 {
            margin: 15px 0 50px;
            height: 200px;
        }

        .col-sm-4:nth-child(1) {
            padding-left: 15px;
            padding-right: 7px;
        }

        .col-sm-4:nth-child(2) {
            padding-right: 8px;
            padding-left: 8px;
        }

        .col-sm-4:nth-child(3) {
            padding-right: 15px;
            padding-left: 7px;
        }
    }

    .service-preview-inner {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        text-align: center;   
        box-shadow: 0px 3px 3px rgba(35, 31, 32, 0.5);

        &:hover {
            background-color:@plumbic-dark;
            box-shadow: 0px 3px 3px rgba(35, 31, 32, 0.5);
        }

        &:active {
            background-color:@plumbic-darker;
            box-shadow: 0px 6px 6px rgba(35, 31, 32, 0.5);
        }

        .text-lg-1 {
            font-weight: 300;
        }
    }

    .service-preview-4pda {
        img {
            margin-top: 36px;
            margin-bottom: 27px;
        }

        .text-lg-1 {
            margin-left: -58px;
        }
    }

    .service-preview-overclockers {
        img {
            margin-top: 33px;
            margin-bottom: 22px;
        }

        .text-lg-1 {
            margin-left: 29px;
        }
    }

    .service-preview-clubexp {
        img {
            margin-top: 36px;
            margin-bottom: 27px;
        }

        .text-lg-1 {
            margin-left: -26px;
        }
    }

    a:hover {
        text-decoration: none;
    }

    @media (max-width: @screen-md-max) {
        background-image: url(Images/Service/1199x850.jpg); 
        /***/
        .container-inner {
            padding-top: 46px;
            background-image: url(Images/Service/Map/970x850.png);
        }

        .service-map-image {
            margin-bottom: -14px;

            h5 {
                top: 82px;
                left: 81px;
            }

            div {
                width: 646px;
                height: 382px;
                background-image: url(Images/Service/646x382.png);
            }
        }

        .service-previews {
            //padding-bottom: 15px;
            .col-sm-4 {
                margin-bottom: 15px;
            }

            
        }
    }

    @media (max-width: @screen-sm-max) {
        background-image: url(Images/Service/991x850.jpg); 
        /***/
        .container-inner {
            padding-top: 63px;
            background-image: url(Images/Service/Map/750x850.png);
        }

        .service-map-image {
            margin-bottom: -19px;

            h5 {
                top: 75px;
                left: 63px;
            }

            div {
                width: 652px;
                height: 370px;
                background-image: url(Images/Service/652x370.png);
            }
        }

        .service-list {
            .col-sm-4:nth-child(1) {
                padding-top: 68px;
            }

            .col-sm-4:nth-child(2) {
                padding-top: 46px;
            }

            .col-sm-4:nth-child(3) {
                padding-top: 91px;
            }

            h6 {
                font-size: 24px;
                line-height: 32px;
                width: 235px;
            }
        }

        .service-preview-inner {
            .text-lg-2 {
                font-weight: 300;
                font-size: 20px;
            }

            .text-lg-1 {
                font-size: 14px;
            }
        }

        .service-preview-4pda {
            .text-lg-1 {
                margin-left: -68px;
            }
        }

        .service-preview-overclockers {
            .text-lg-1 {
                margin-left: 0;
            }
        }

        .service-preview-clubexp {
            .text-lg-1 {
                margin-left: -44px;
            }
        }
    }

    @media (max-width: @screen-xs-max) {
        background-image: url(Images/Service/768x1200.jpg); 
        /***/
        .container-inner {
            padding-top: 53px;
            background-image: url(Images/Service/Map/450x1200.png);
        }
        .service-map-image {
            margin-bottom: 41px;

            h5 {
                top: 145px;
                left: 168px;
            }

            div {
                width: 415px;
                height: 245px;
                background-image: url(Images/Service/415x245.png);
            }
        }
        .service-list {

            .col-sm-4:nth-child(1) {
                padding-top: 34px;
                height: 161px;
            }

            .col-sm-4:nth-child(2) {
                padding-top: 28px;
                height: 204px;
            }

            .col-sm-4:nth-child(3) {
                padding-top: 32px;
                height: 115px;
            } 
            .col-sm-4 {
                border-top: 1px solid @plumbic-darker;
                padding-left: 37px;
                text-align: left;
            }

            h6 {
                font-size: 34px;
                line-height: 51px;
                font-weight: normal;
                width: 355px;
            }
        }
        .service-previews {
            .col-sm-4 {
                height: 100px;
            }

            .col-sm-4:nth-child(1) {
                padding-left: 0;
                padding-right: 0;
            }
            .col-sm-4:nth-child(2) {
                padding-left: 0;
                padding-right: 0;
            }
            .col-sm-4:nth-child(3) {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 30px;
            }
        }
        .service-preview-inner {
            text-align: left;
            border-radius: 0;

            img {
                float: left;
                margin-bottom: 0;
            }

            .text-lg-2 {
                font-size: 24px;
            }

            .text-lg-1 {
                font-size: 20px;
                margin-left: 0;
            }
        }

        .service-preview-4pda {
            img {
                width: 95px;
                margin-top: 39px;
                margin-left: 37px;
                margin-right: 37px;
            }
        }

        .service-preview-overclockers {
            img {
                width: 108px;
                margin-top: 36px;
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        .service-preview-clubexp {
            img {
                width: 107px;
                margin-top: 39px;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}
.container-wrap-7 {
    .container-fluid;
    background-color: #000;
    background-image: url(Images/Buy/1930x1080.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    
    .container-inner {
       //box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
       padding-bottom: 540px;
    }

    .info {
        background-color: @amber;
        margin-top: 110px;
        padding: 15px 17px;

        span {
            display: block;
            text-align: center;
        }

        .recomend-price-caption {
            .text-lg-2;
            font-weight: 300;
            padding-top: 16px;
            letter-spacing: -0.6px;
        }

        .price {
            .h3;
            font-weight: 700;
            padding-top: 5px;
        }

        .buy-caption {
            .text-lg-2;
            font-weight: 300;
            padding-top: 33px;
        }

        .dns-logo-btn, .technopoint-logo-btn, .playerru-logo-btn {
            display: inline-block;
            height: 80px;
            background-repeat: no-repeat;
            background-position: center top;
            box-shadow: 0px 1px 2px rgba(35, 31, 32, 0.5);

            &:hover {
                box-shadow: 0px 3px 3px rgba(35, 31, 32, 0.5);
            }

            &:active {
                box-shadow: 0px 4px 4px rgba(35, 31, 32, 0.5);
            }
        }

        .dns-logo-btn {
            width: 258px;
            margin-top: 28px;
            background-color: #ff7d00; // #F7941E;
            background-image: url(Images/Buy/logo/200x80_new_dns_2.png); // url(Images/Buy/logo/dns.png);

            &:hover {
                background-color: #ff7300; // #F58220;
            }

            &:active {
                background-color: #ff6900; // #F37021;
            }
        }

        .technopoint-logo-btn {
            width: 122px;
            margin-right: 7px;
            margin-top: 12px;
            background-color: #4D207A;
            ;
            background-image: url(Images/Buy/logo/technopoint.png);

            &:hover {
                background-color: #45196F;
                ;
            }

            &:active {
                background-color: #3D1063;
                ;
                ;
            }
        }

        .playerru-logo-btn {
            width: 121px;
            margin-left: 8px;
            margin-top: 12px;
            background-color: #B91319;
            background-image: url(Images/Buy/logo/playerru.png);

            &:hover {
                background-color: #A3181C;
            }

            &:active {
                background-color: #8F1C1F;
            }
        }
    }

    /*.footer {
        background: #000;
        background: rgba(50, 50, 50, 1);
        height: 80px;
        margin-top: 460px;
        padding-top: 30px;
        opacity: 0.5;

        img {
            margin-right: 29px;
        }

        .copy-right {
            font-size: 12px;
            letter-spacing: 0.12px;
            color: #C5C2C2;
            opacity: 0.87;
        }
    }*/

    @media (max-width: @screen-md-max) {
        background-image: url(Images/Buy/1199x850.jpg);
        /**/
        .container-inner {
            padding-bottom: 310px;
        }
        .info {
            .dns-logo-btn {
                width: 289px;
            }

            .technopoint-logo-btn {
                width: 137px;
            }

            .playerru-logo-btn {
                width: 137px;
            }
        }

        /*.footer {
            margin-top: 230px;
        } */
    }

    @media (max-width: @screen-sm-max) {
        background-image: url(Images/Buy/991x850.jpg);
        /**/
        .info {
            .dns-logo-btn {
                width: 278px;
            }

            .technopoint-logo-btn {
                width: 132px;
            }

            .playerru-logo-btn {
                width: 131px;
            }
        }

        /*.footer {
            img {
                margin-right: 21px;
            }
        } */
    }

    @media (max-width: @screen-xs-max) {
        background-image: url(Images/Buy/768x1200.jpg); 
        .container-inner {
            padding-bottom: 80px;
        }
        /**/
        .info {
            margin-top: 770px;

            .buy-caption {
                display: none;
            }

            .dns-logo-btn {
                margin-top: 13px;
                width: 100%;
                background-image: url(Images/Buy/logo/273x80_new_dns_2.png);
            }

            .technopoint-logo-btn {
                width: 50%;
                margin-right: 0;
            }

            .playerru-logo-btn {
                width: 50%;
                margin-left: 0;
            }
        }

        /*.footer {
            margin-top: 0;
        } */
    }
}

.container-wrap-1,
.container-wrap-2,
.container-wrap-3,
.container-wrap-4,
.container-wrap-5,
.container-wrap-6,
.container-wrap-7 {
    background: none;
    position:relative;
    z-index: 10;
}
.container-wrap-5 .container {
	height: 1760px;
}
.container-wrap-5 .container-inner {
	right: 0;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    opacity:0;
}
.bg-lg-1,
.bg-lg-3,
.bg-md-1,
.bg-md-3,
.bg-sm-1,
.bg-sm-3,
.bg-xs-1,
.bg-xs-3 {
    background-size: cover;
}
.bg-lg-2,
.bg-lg-4,
.bg-lg-5,
.bg-md-2,
.bg-md-4,
.bg-md-5,
.bg-sm-2,
.bg-sm-4,
.bg-sm-5,
.bg-xs-2,
.bg-xs-4,
.bg-xs-5 {
    background-color: #000;
    background-size: cover;
}
.bg-lg-1,
.bg-lg-3,
.bg-md-1,
.bg-md-3,
.bg-sm-1,
.bg-sm-3,
.bg-xs-1,
.bg-xs-3 {
    background-image: url(images/1930x1400_bg3.jpg);
}
.bg-lg-2 { 
    background-image: url(images/Preview/1930x1080_.jpg);
}
.bg-lg-4 { 
    background-image: url(images/Service/1930x1080.jpg);
}
.bg-lg-5 { 
    background-image: url(images/Buy/1930x1080.jpg);
}
.bg-md-2 { 
    background-image: url(images/Preview/1199x850_.jpg);
}
.bg-md-4 { 
    background-image: url(images/Service/1199x850.jpg);
}
.bg-md-5 { 
    background-image: url(images/Buy/1199x850.jpg);
}
.bg-sm-2 { 
    background-image: url(images/Preview/991x850_.jpg);
}
.bg-sm-4 { 
    background-image: url(images/Service/991x850.jpg);
}
.bg-sm-5 { 
    background-image: url(images/Buy/991x850.jpg);
}
.bg-xs-2 { 
    background-image: url(images/Preview/768x850_.jpg);
}
.bg-xs-4 { 
    background-image: url(images/Service/768x1200.jpg);
}
.bg-xs-5 { 
    background-image: url(images/Buy/768x1200.jpg);
}
.bg-lg-2-fadeout, 
.bg-lg-3-fadeout,
.bg-lg-4-fadeout,
.bg-lg-5-fadeout,
.bg-md-2-fadeout, 
.bg-md-3-fadeout,
.bg-md-4-fadeout,
.bg-sm-2-fadeout, 
.bg-sm-3-fadeout,
.bg-sm-4-fadeout,
.bg-xs-2-fadeout, 
.bg-xs-3-fadeout,
.bg-xs-4-fadeout {
    display: none;
}
body {
    min-width: @container-xs;
    background-color:#000;
}
.scrollblock {
    width: 100%;
    height: 100%;
    min-width: @container-xs;
    background-color: #000;
}
.scrollblock-inner-lg,
.scrollblock-inner-md,
.scrollblock-inner-sm,
.scrollblock-inner-xs {
    display: none;
}
@media (min-width: @screen-xs-min) {
    .scrollblock-inner-xs {
        display: block;
    }
    .scrollblock-inner-sm,
    .scrollblock-inner-md,
    .scrollblock-inner-lg {
        display: none;
    }
    .container-wrap-5 .container {
	    height: 1900px;
    }
}
@media (min-width: @screen-sm-min) {
    .scrollblock-inner-sm {
        display: block;
    }
    .scrollblock-inner-xs,
    .scrollblock-inner-md,
    .scrollblock-inner-lg {
        display: none;
    }
    .container-wrap-5 .container {
	    height: 1160px;
    }
}
@media (min-width: @screen-md-min) {
    .scrollblock-inner-md {
        display: block;
    }
    .scrollblock-inner-xs,
    .scrollblock-inner-sm,
    .scrollblock-inner-lg {
        display: none;
    }
    .container-wrap-5 .container {
	    height: 1480px;
    }
}

@media (min-width: @screen-lg-min) {
    .scrollblock-inner-lg {
        display: block;
    }
    .scrollblock-inner-xs,
    .scrollblock-inner-sm,
    .scrollblock-inner-md {
        display: none;
    }
    .container-wrap-5 .container {
	    height: 1760px;
    }
}
.container-wrap-8 {
    .container;
    position: relative;
    z-index: 10;

    .footer {
        position: absolute;
        bottom:0;
        background: #000;
        background: rgba(50, 50, 50, 1);
        width: 100%;
        height: 80px;
        padding-top: 30px;
        opacity: 0.5;

        img {
            margin-right: 29px;
        }

        .copy-right {
            font-size: 12px;
            letter-spacing: 0.12px;
            color: #C5C2C2;
            opacity: 0.87;
        }
    }

    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
        .footer {
            img {
                margin-right: 21px;
            }
        }
    }
    @media (max-width: @screen-xs-max) {
    }
}